@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  /* Hide scrollbars in Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* For Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
